<ul>
  {{#each}}
    <li>{{body}}</li>
  {{/each}}
</ul>

<a href="#/tweets" {{action 'sortByTitle'}}>Sort By Title</a>


{{#if isAdding}}

  <button class="btn btn-primary" {{action 'enterTweet'}}>Add Tweet</button>

{{else}}

<button class="btn btn-primary" {{action 'addNewTweet'}}>New Tweet</button>

{{/if}}
