<ul>
  {{#each}}
    <li>{{body}}</li>
  {{/each}}
</ul>

<a href="#/tweets" {{action 'sortByTitle'}}>Sort By Title</a>


{{#if isAdding}}
  <form>

    <div class="form-group">
      {{textarea id="body" rows="15" cols="40" value=body}}
    </div>
    <button class="btn btn-default" {{action 'enterTweet'}}>Add Tweet</button>
  </form>
{{else}}

<button class="btn btn-primary" {{action 'addNewTweet'}}>New Tweet</button>

{{/if}}
